body{
    background-color: rgb(218, 218, 218);
    margin-left: 0px;
}
header{
    margin-left: calc(18.5vh + 8px);
}
header h1{
    text-align: center;
    font-size: 6vh;
    margin-top: 0px;
    margin-bottom: 0.5vh;
}
header h2{
    margin-top: 0.5vh;
    text-align: center;
    font-size: 3vh;
}
nav{
    position: fixed;
    z-index: 100;
    top: 0;
}
nav ul{
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav a{
    display: inline-block;
    width: 21vh;
    font-size: 3.33vh;
    padding:0.95vh;
    text-align: center;
    background-color: red;
    border: 0.7vh outset gray;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    color: black;
    text-decoration: none;
}
#current_link{
    background-color: hsl(31, 100%, 50%);
}
nav a:hover{
    background-color: hsl(0, 100%, 40%);
    border: 0.7vh inset gray;
    padding-right: 2vh;
}
#current_link:hover{
    background-color: hsl(31, 100%, 40%);
}
#firstnav{
    margin-top: 0px;
}
nav li{
    display: imline-block;
}
#img1_1{
    height: 40vh;
    margin: 5vh;
    float: right;
}
li::marker{
    font-size: 2.5vh;
}
#mapa_article_1{
    padding-top: 4vh;
}
#mapa_article_1 ul{
    padding-left: 3vh;
    display: inline-block;
    width: 60vh;
}
#mapa_article_1 h3{
    font-size: 4vh;
    margin-bottom: 0vh;
}
#mapa_article_1 p{
    font-size: 2.5vh;
}
#euroregiony{
    float: right;

}
main{
    margin-left: calc(8px + 25vh);
}



#img2_1{
    float: left;
    height: 46vh;
    margin-right: 5vh;
}
#img2_2{
    height: 46vh;
    margin-top: 4vh;
    float: right;
    margin-right: 20vh;
}
#povrch_article_1{
    padding-top: 4vh;
    font-size: 2.5vh;
}
#povrch_article_1 ol{
    margin-left: 70vh;
}
#povrch_article_2{
    margin-top: 16vh;
    font-size: 2.5vh;
}



#img3_1{
    height: 60vh;
    float: left;
}
#podnebi_article_1{
    margin-left: calc(86vh + 8px);
    padding-top: 2vh;
    font-size: 2.5vh;
}
#podnebi_article_2{
    margin-top: 32vh;
    font-size: 2.5vh;
}
#podnebi_article_2 h3{
    font-size: 4vh;
    margin-bottom: 0vh;
}
#podnebi_article_2 h4{
    margin-top: 2vh;
    font-size: 3vh;
    margin-bottom: 1vh;
}



#img4_1{
    height: 67vh;
    float: right;
    margin: 4vh;
}
#vodstvo_article_1{
    font-size: 2.5vh;
    padding-top: 6vh;
}
#vodstvo_article_1 ul{
    padding-left: 2vh;
}
#vodstvo_article_2{
    font-size: 2.5vh;
}
#vodstvo_article_2 h3{
    font-size: 4vh;
    margin-bottom: 1vh;
}



#chko_article_1{
    font-size: 2.5vh;
}
#chko_article_1 h3{
    font-size: 4vh;
    margin-bottom: 1vh;
}
#chko_article_1 h4{
    font-size: 3vh;
    margin-bottom: 1vh;
}
.bez_tecky{
    list-style-type: none;
}
#custom_5_1{
    float:right;
    margin-right: 30vh;
    margin-top: 8vh;
}



#obyvatelstvo_article_1{
    margin-left: 2vh;
    float: left;
    font-size: 2.5vh;
}
#obyvatelstvo_article_1 ul{
    padding-left: 2vh;
}
#img6_1{
    height: 40vh;
}
#img6_2{
    height: 50vh;
}
#obyvatelstvo_article_2{
    margin-left: 50vw;
    font-size: 2.5vh;
}
#img6_3{
    height: 60vh;
    float: left;
}
#obyvatelstvo_article_3{
    font-size: 2.5vh;
    margin-top: 6vh;
}
#obyvatelstvo_article_3 ul{
    padding-top: 6vh;
    margin-left: 90vh;
}
#obyvatelstvo_article_4{
    font-size: 2.5vh;
    margin-top: 40vh;
}
#img6_4{
    height: 60vh;
    float: right;
    margin-right: 10vh;
}
#obyvatelstvo_article_5{
    font-size: 2.5vh;
    margin-top: 70vh;
}



#hospodarstvi_article_1{
    font-size: 2.5vh;
}
#img7_1{
    height: 50vh;
}



#zemedelstvi_article_1{
    font-size: 2.5vh;
}
#img8_1{
    height: 60vh;
    float: left;
}
#zemedelstvi_article_1 ul{
    margin-left: 80vh;
    padding-top: 10vh;
}
#zemedelstvi_article_2{
    font-size: 2.5vh;
    margin-top: 24vh;
}
#img8_2{
    height: 80vh;
    float: left;
}
#zemedelstvi_article_2 ul{
    margin-left: 90vh;
    padding-top: 4vh;
}



#prumysl_article_1{
    font-size: 2.5vh;
}
#prumysl_article_1 ul{
    padding-left: 2vh;
}
#prumysl_article_2{
    margin-top: 20vh;
    font-size: 2.5vh;
}
#img9_1{
    float: right;
    height: 40vh;
    margin-top: 10vh;
}
#prumysl_article_2 h3{
    font-size: 4vh;
}



#sluzby_article_1{
    font-size: 2.5vh;
}
#img10_1{
    height: 70vh;
    float: right;
    margin-left: 5vh;
}
#sluzby_article_2{
    margin-top: 20vh;
    font-size: 2.5vh;
}
#img10_2{
    height:  80vh;
    float: left;
}
#sluzby_article_2 ul{
    padding-top: 10vh;
    margin-left: 76vh;
}
#sluzby_article_3{
    font-size: 2.5vh;
    padding-top: 4vh;
    margin-left: 80vh;
}
#sluzby_article_3 h3{
    font-size: 4vh;
}



#rozvoj_article_1{
    font-size: 2.5vh;
}
#rozvoj_article_1 h3{
    font-size: 4vh;
}
#rozvoj_article_2{
    float: left;
    margin-top: 10vh;
    font-size: 2.5vh;
}
#rozvoj_article_2 h3{
    font-size: 4vh;
}
#rozvoj_article_3{
    margin-top: 17vh;
    margin-left: 50vw;
    font-size: 2.5vh;
}
#rozvoj_article_3 h3{
    font-size: 4vh;
}
#rozvoj_article_4{
    margin-top: 17vh;
    font-size: 2.5vh;
}
#rozvoj_article_4 h3{
    font-size: 4vh;
}
#img11_1{
    height: 50vh;
    float: right;
}



#dovolena_article_1_1{
    font-size: 2.5vh;
}
#dovolena_article_1_1 h3{
    font-size: 4vh;
    margin-left: 10vh;
}
#img12_1_1{
    height: 50vh;
    float: right;
    margin-right: 10vh;
}
#img12_1_2{
    height: 50vh;
}
#dovolena_article_2_1{
    margin-top: 10vh;
    font-size: 2.5vh;
}
#dovolena_article_2_1 h3{
    font-size: 4vh;
    margin-left: 10vh;
}
#img12_2_1{
    height: 70vh;
    float: right;
    margin-right: 4vh;
}
#dovolena_article_3_1{
    margin-top: 30vh;
    font-size: 2.5vh;
}
#dovolena_article_3_1 h3{
    font-size: 4vh;
    margin-left: 10vh;
}
#img12_3_1{
    height: 80vh;
    float: right;
    margin-right: 14vh;
}
#img12_3_2{
    height: 60vh;
    margin-left: 10vh;
}
#dovolena_article_4_1{
    margin-top: 10vh;
    font-size: 2.5vh;
}
#dovolena_article_4_1 h3{
    font-size: 4vh;
    margin-left: 10vh;
}
#img12_4_1{
    float: right;
    height: 60vh;
    margin-left: 5vh;
}
#dovolena_article_5_1{
    margin-top: 10vh;
    font-size: 2.5vh;
}
#dovolena_article_5_1 h3{
    font-size: 4vh;
    margin-left: 10vh;
}
#img12_5_1{
    height: 50vh;
    float: right;
    margin-left: 5vh;
}
#dovolena_article_6_1{
    font-size: 4vh;
    margin-left: 10vh;
    margin-top: 10vh;
}



#zdroje_article_1{
    font-size: 2.5vh;
}