body{
    background-color: lightseagreen;
    margin-left: 0px;
}
header{
    margin-left: calc(18.5vh + 8px);
}
header h1{
    text-align: center;
    font-size: 6vh;
    margin-top: 0px;
    margin-bottom: 0.5vh;
}
header h2{
    margin-top: 0.5vh;
    text-align: center;
    font-size: 3vh;
}
nav{
    position: fixed;
    z-index: 100;
    top: 0;
}
nav ul{
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav a{
    display: inline-block;
    width: 21vh;
    font-size: 3.33vh;
    padding:0.95vh;
    text-align: center;
    background-color: red;
    border: 0.7vh outset gray;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    color: black;
    text-decoration: none;
}
#current_link{
    background-color: hsl(31, 100%, 50%);
}
nav a:hover{
    background-color: hsl(0, 100%, 40%);
    border: 0.7vh inset gray;
    padding-right: 2vh;
}
#current_link:hover{
    background-color: hsl(31, 100%, 40%);
}
#firstnav{
    margin-top: 0px;
}
nav li{
    display: imline-block;
}
#img1_1{
    height: 40vh;
    margin: 5vh;
    float: right;
}
li::marker{
    font-size: 2.5vh;
}
#mapa_article_1{
    padding-top: 4vh;
}
#mapa_article_1 ul{
    padding-left: 3vh;
    display: inline-block;
    width: 60vh;
}
#mapa_article_1 h3{
    font-size: 4vh;
    margin-bottom: 0vh;
}
#mapa_article_1 p{
    font-size: 2.5vh;
}
#euroregiony{
    float: right;

}
main{
    margin-left: calc(8px + 25vh);
}



#img2_1{
    float: left;
    height: 46vh;
    margin-right: 5vh;
}
#img2_2{
    height: 46vh;
    margin-top: 4vh;
    float: right;
    margin-right: 20vh;
}
#povrch_article_1{
    padding-top: 4vh;
    font-size: 2.5vh;
}
#povrch_article_1 ol{
    margin-left: 70vh;
}
#povrch_article_2{
    margin-top: 16vh;
    font-size: 2.5vh;
}



#img3_1{
    height: 60vh;
    float: left;
}
#podnebi_article_1{
    margin-left: calc(86vh + 8px);
    padding-top: 2vh;
    font-size: 2.5vh;
}
#podnebi_article_2{
    margin-top: 32vh;
    font-size: 2.5vh;
}
#podnebi_article_2 h3{
    font-size: 4vh;
    margin-bottom: 0vh;
}
#podnebi_article_2 h4{
    margin-top: 2vh;
    font-size: 3vh;
    margin-bottom: 1vh;
}



#img4_1{
    height: 67vh;
    float: right;
    margin: 4vh;
}
#vodstvo_article_1{
    font-size: 2.5vh;
    padding-top: 6vh;
}
#vodstvo_article_1 ul{
    padding-left: 2vh;
}
#vodstvo_article_2{
    font-size: 2.5vh;
}
#vodstvo_article_2 h3{
    font-size: 4vh;
    margin-bottom: 1vh;
}



#chko_article_1{
    font-size: 2.5vh;
}
#chko_article_1 h3{
    font-size: 4vh;
    margin-bottom: 1vh;
}
#chko_article_1 h4{
    font-size: 3vh;
    margin-bottom: 1vh;
}
.bez_tecky{
    list-style-type: none;
}
#custom_5_1{
    float:right;
    margin-right: 30vh;
    margin-top: 8vh;
}



#obyvatelstvo_article_1{
    margin-left: 2vh;
    float: left;
    font-size: 2.5vh;
}
#obyvatelstvo_article_1 ul{
    padding-left: 2vh;
}
#img6_1{
    height: 40vh;
}
#img6_2{
    height: 50vh;
}
#obyvatelstvo_article_2{
    margin-left: 95vh;
    font-size: 2.5vh;
}
